:root {
  --white: #f3f3f3;
  --black: #333;
  --red: #ef4444;
  --lavender: #e680d0;
  --bermuda: #5bb5a6;
  --greenyellow: #85cc1b;
  --lightblue: #77b1ce;
  --blue: #427D9D;
  --rounded-small: 10px;
  --border : 1px solid rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
}

.navigation {
  height: 10vh;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.navigation__user {
  display: flex;
  align-items: center;
}

.navigation__avatar {
  width: 30px;
  border-radius: 50%;
}

.navigation__username {
  margin-left: 10px;
}

main {
  position: relative;
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1.2fr 1.2fr;
  grid-template-rows: 1.1fr 3fr;
  grid-template-areas: 
    "information information chart-bar"
    "statistics interaction chart-bar";
}

.information {
  grid-area: information;
  padding: 20px 30px;
}

.information__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.information__item {
  padding: 20px;
  flex: 1;
  border-radius: var(--rounded-small);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information__item-income {
  color: var(--lightblue);
  border: 3px solid var(--lightblue);
}

.information__item-spending {
  color: var(--lavender);
  border: 3px solid var(--lavender);
}

.information__item-balance {
  color: var(--bermuda);
  border: 3px solid var(--bermuda);
}

.information__item-title {
  font-size: 20px;
}

.information__item-amount {
  font-size: 35px;
  font-weight: bold;
  color: var(--black);
}

.statistics {
  grid-area: statistics;
  margin: 10px;
  border: var(--border);
  border-radius: var(--rounded-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics__header {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.statistics__title {
  text-align: center;
  flex: 3;
  font-weight: bold;
  font-size: 18px;
}

.statistics__hidden, .statistics__filter {
  flex: 1;
}

.statistics__filter-select {
  padding: 5px 10px;
  font-weight: bold;
  border-radius: var(--rounded-small);
  border: var(--border);
  cursor: pointer;
  outline: none;
}

.statistics__chart {
  width: 100%;
}

.statistics__chart canvas {
  margin: 10px;
}

.interaction {
  grid-area: interaction;
  height: 100%;
  margin-top: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.interaction__date, .interaction__history {
  border: var(--border);
  border-radius: var(--rounded-small);
}

.interaction__date {
  margin-top: 10px;
  flex: 1;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.interaction__date-title {
  padding: 10px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

.interaction__history {
  height: 70%;
  flex: 9;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Scrollbar */
.interaction__history ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.interaction__history ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

/* Handle */
.interaction__history ::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
.interaction__history ::-webkit-scrollbar-thumb:hover {
  background: var(--blue); 
}

.interaction__history-header-title {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

.interaction__history-header-list {
  margin: 5px;
}

.interaction__history-header-item {
  font-weight: bold;
}

.interaction__history-header-category, .interaction__history-body-category {
  width: 35%;
}

.interaction__history-header-date, .interaction__history-body-date {
  width: 40%;
}

.interaction__history-header-amount, .interaction__history-body-amount {
  width: 25%;
}

.interaction__history-header-amount {
  text-align: center;
}

.interaction__history-body-amount {
  text-align: right;
}

.interaction__history-header-item, .interaction__history-body-item {
  display: flex;
  justify-content: space-between;
}

.interaction__history-body {
  height: 100%;
  padding: 5px 0;
  position: relative;
}

.interaction__history-body-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.interaction__history-body-item {
  padding: 5px;
  margin: 0 5px;
  border: var(--border);
  border-radius: var(--rounded-small);
  cursor: pointer;
}

.interaction__history-body-item:hover {
  background-color: var(--greenyellow);
}

.interaction__history-button button {
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}

.interaction__button {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.interaction__button button {
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

.interaction__button-add {
  flex: 3;
  background: var(--lavender);
}

.interaction__button-add:hover {
  background: var(--lightblue);
}

.interaction__button-import {
  flex: 1;
  background: var(--greenyellow);
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.interaction__button-import:hover {
  background: var(--bermuda);
}

.interaction__button-import-title {
  height: 100%;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* interaction import button */
.interaction__button-import__button {
  background-color: var(--lightblue);
  border-radius: 5px;
  position: absolute;
  top: calc(1* -30px);
  left: 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.interaction__button-import__button button {
  background-color: transparent;
  padding: 5px 10px;
}

.interaction__button-import__button button:hover {
  background-color: var(--lavender);
}

.chart-bar {
  grid-area: chart-bar;
  display: flex;
  flex-direction: column;
}

.chart-bar__button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.chart-bar__button-item {
  margin: 5px;
  flex: 1;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.chart-bar__chart {
  height: 95%;
}

.chart-bar__chart-item {
  height: 50%;
  border: var(--border);
  display: flex;
}

.chart-bar__chart-item canvas {
  display: grid;
  margin: auto;
  max-width: 100%;
  height: 100%;
}

.button__active {
  border: var(--border) !important;
}

/* modal */
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
}

.modal__close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.modal__close:hover {
  color: red;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.modal__form-label {
  font-weight: bold;
  margin-top: 10px;
}

.modal__form-select, .modal__form-input-number, .modal__form-textarea {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.modal__form-textarea {
  resize: none;
  height: 50px;
}

.modal__form-label--optional::after {
  content: '(optional)';
  font-weight: lighter;
  font-size: 13px;
}

/* remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal__form-button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--blue);
  color: white;
}

.modal__form-button:hover {
  background-color: var(--greenyellow);
  color: black;
}

/* modal body */
.detail-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
}

.modal__body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__body-date {
  font-weight: bold;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal__footer-button-delete, .modal__button-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  color: white;
}

.modal__footer-button-delete:hover,
.modal__button-delete:hover,
.modal__button-cancel:hover {
  opacity: .75;
}

.modal__button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal__button-cancel {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

/* flash message */
.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.message__success {
  background-color: #d1e7dd;
  color: #0a3622;
  border: 1px solid #a3cfbb;
  border-radius: 10px;
  position: sticky;
  top: 0;
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.message__alert {
  background-color: #f8d7da;
  color: #58151c;
  border: 1px solid #f1aeb5;
  border-radius: 10px;
  position: sticky;
  top: 0;
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.message__close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.message__close:hover {
  color: red;
}

@media (max-width: 1024px) {
  body {
    min-height: 100vh;
  }

  main {
    grid-template-columns: 3fr 1.6fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas:
      "information interaction"
      "statistics interaction"
      "chart-bar interaction";
  }

  .interaction__history-header-date, .interaction__history-body-date {
    display: none;
  }

  .chart-bar__chart {
    display: flex;
  }

  .chart-bar__chart-item {
    width: 50%;
    height: 100%;
  }

  .chart-bar__chart-item canvas {
    max-height: 90%;
  }
}

@media (max-width: 930px) {
  body {
    height: 130vh;
  }
  main {
    height: 100%;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
      "information information"
      "chart-bar interaction"
      "statistics statistics";
  }

  .information__item-title {
    font-size: 17px;
    font-weight: bold;
  }
  
  .information__item-amount {
    font-size: 30px;
  }

  .interaction__history-header-date, .interaction__history-body-date {
    display: inline-block;
  }

  .chart-bar__chart {
    flex-direction: column;
  }

  .chart-bar__chart-item {
    width: 100%;
    height: 100%;
  }

  .chart-bar__chart-item canvas {
    height: 70%;
  }

  /* modal */
  .modal-container {
    position: fixed;
  }

  .modal {
    width: 90%;
  }
}