<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <nav class="navigation">
    <h1 class="navigation__title">Money Management App</h1>
    <section class="navigation__user">
      <img src="https://ui-avatars.com/api/?name=John+Doe" alt="John Doe" class="navigation__avatar">
      <p class="navigation__username">John Doe</p>
    </section>
  </nav>
  <main>
    <section class="information">
      <ul class="information__list">
        <li class="information__item information__item-income">
          <span class="information__item-title">Incomes</span>
          <span class="information__item-amount">100.000</span>
        </li>
        <li class="information__item information__item-spending">
          <span class="information__item-title">Expenses</span>
          <span class="information__item-amount">20.000</span>
        </li>
        <li class="information__item information__item-balance">
          <span class="information__item-title">Balances</span>
          <span class="information__item-amount">80.000</span>
        </li>
      </ul>
    </section>

    <section class="statistics">
      <section class="statistics__header">
        <span class="statistics__hidden"></span>
        <h2 class="statistics__title">Annual Statistics</h2>
        <section class="statistics__filter">
          <select id="statisticsFilter" class="statistics__filter-select">
            {{#years}}
              <option value="{{ . }}">{{ . }}</option>
            {{/years}}
          </select>
        </section>
      </section>
      <section id="statisticsData" class="statistics__chart" data-annuals="{{ annuals }}">
        <canvas id="statisticsCanvas"></canvas>
      </section>
    </section>

    <section class="interaction">
      <section class="interaction__date">
        <p class="interaction__date-title">01, Nov 2023 - 31, Nov 2023</p>
      </section>
      <section class="interaction__history">
        <section class="interaction__history-header">
          <section class="interaction__history-header-title">
            <h2 class="interaction__history-title">History</h2>
            <section class="interaction__history-button">
              <button class="button__active">Newest</button>
              <button class="">Oldest</button>
            </section>
          </section>
          <ul class="interaction__history-header-list">
            <li class="interaction__history-header-item">
              <span class="interaction__history-header-category">Category</span>
              <span class="interaction__history-header-date">Date</span>
              <span class="interaction__history-header-amount">Amount</span>
            </li>
          </ul>
        </section>
        <section class="interaction__history-body">
          <ul class="interaction__history-body-list">
            <li class="interaction__history-body-item">
              <span class="interaction__history-body-category">Salary</span>
              <span class="interaction__history-body-date">12, Jun 2020</span>
              <span class="interaction__history-body-amount">100000</span>
            </li>
          </ul>
        </section>
      </section>
      <section class="interaction__button">
        <button class="interaction__button-add">Add</button>
        <button class="interaction__button-import">Import</button>
      </section>
    </section>

    <section class="chart-bar">
      <section class="chart-bar__button">
        <button class="chart-bar__button-item button__active">Income</button>
        <button class="chart-bar__button-item">Expense</button>
      </section>
      <section class="chart-bar__chart">
        <section class="chart-bar__chart-item">
          <canvas id="doughnut" class="chart-bar__chart-doughnut"></canvas>
        </section>
        <section class="chart-bar__chart-item">
          <canvas id="polar" class="chart-bar__chart-polar"></canvas>
        </section>
      </section>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="script/script.js"></script>
</body>
</html>