<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <nav class="navigation">
    <h1 class="navigation__title">Money Management App</h1>
    <section class="navigation__user">
      <img src="https://ui-avatars.com/api/?name=John+Doe" alt="John Doe" class="navigation__avatar">
      <p class="navigation__username">John Doe</p>
    </section>
  </nav>
  <main>
    <section class="information">
      <ul class="information__list">
        <li class="information__item information__item-income">
          <span class="information__item-title">Total Income</span>
          <span class="information__item-amount">100.000</span>
        </li>
        <li class="information__item information__item-spending">
          <span class="information__item-title">Total Expense</span>
          <span class="information__item-amount">20.000</span>
        </li>
        <li class="information__item information__item-balance">
          <span class="information__item-title">Total Balance</span>
          <span class="information__item-amount">80.000</span>
        </li>
      </ul>
    </section>

    <section class="statistics">Stat</section>
    <section class="interaction">Interaction</section>
    <section class="chart-bar">Chart</section>
  </main>
</body>
</html>